<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.researchhero">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnMenu.LearnActivity"
            android:label="Learn"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LearnToResearch.ResearchMethodActivity"
            android:label="Research Method"
            android:parentActivityName=".LearnMenu.LearnActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LearnMenu.LearnActivity" />
        </activity>
        <activity
            android:name=".LearnToResearch.LearnResearchTopicActivity"
            android:label="Learn Research Topic"
            android:parentActivityName=".LearnToResearch.ResearchMethodActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LearnToResearch.ResearchMethodActivity" />
        </activity>

        <activity
            android:name=".LearnToResearch.ResearchTopicLessonOneActivity"
            android:label="ResearchTopicLessonOne" />
        <activity
            android:name=".LearnToResearch.ResearchTopicQuizOneActivity"
            android:label="ResearchTopicQuizOne" />
        <activity
            android:name=".LearnPublishingResearchActivity"
            android:label="Publish Research" />
        <activity
            android:name=".LearnToResearch.LearnResearchPurposeActivity"
            android:label="Research Purpose" />
        <activity
            android:name=".LearnToResearch.LearnResearchQuestionActivity"
            android:label="Research Question" />
        <activity
            android:name=".LearnToResearch.LearnHypothesisActivity"
            android:label="Hypothesis" />
        <activity
            android:name=".LearnToResearch.LearnExperimentActivity"
            android:label="Experiment" />
        <activity
            android:name=".LearnToResearch.LearnAnalysisActivity"
            android:label="Analysis" />
        <activity
            android:name=".LearnToResearch.LearnConclusionActivity"
            android:label="Conclusion" />
        <activity
            android:name=".AboutUsActivity"
            android:label="About Us"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>